.joined {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.joined__list {
  display: flex;
  flex-direction: column;
  height: 18.375rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 18.75rem;
  background-color: #fff;
  border: 0.0625rem solid #dadce0;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.joined__imgWrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #174ea6;
}
.joined__image {
  background-image: url(https://gstatic.com/classroom/themes/Physics.jpg);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.joined__container {
  position: relative;
}
.joined__content {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 4.5rem;
  padding: 1rem 1rem 0.75rem;
  position: relative;
}
.joined__title {
  color: white;
  font-family: "Roboto";
  text-decoration: none;
}
.joined__title h2 {
  font-weight: 400;
}
.joined__title h2:hover {
  text-decoration: underline;
}
.joined__owner {
  color: white;
  font-weight: 400 !important;
  font-size: 15px !important;
}
.joined__avatar {
  float: right;
  height: 4.6875rem !important;
  position: relative !important;
  margin-top: -3.09375rem !important;
  width: 4.6875rem !important;
  text-align: left;
}
.joined__bottom {
  margin-top: 40%;
  display: flex;
  color: #5f6368;
  justify-content: flex-end;
  border-top: 0.2px solid #e0e0e0;
  padding: 10px;
}
.joined__bottom > * {
  margin-right: 20px;
}
